<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="photo.tonycai.com.photoapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OptionSelectionActivity"
            android:label="@string/option_selection_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ShowResultActivity"
            android:label="@string/show_result_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AfterSaveActivity"
            android:label="@string/after_save_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".PagerActivity"
            android:label="@string/ultra_page"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".AutomaticAdjustment"
            android:label="AutomaticAdjustment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".SymmetryAdjustmentActivity"
            android:label="@string/activity_symmetry_adjustment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ExtraAdding"
            android:label="@string/activity_symmetry_adjustment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


    </application>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
</manifest>